*{
    margin: 0;
    padding: 0;
    }
body{
    background-color: #4f5263;
}
.heading{
    text-align: center;
    color: #fde7ec;
    font-size: xxx-large;
    font-family: system-ui;
 

    padding-top: 10px;
}

.container{
    width: 601px;
    height: 267px;
    border: 3px solid black;
   background-color:#f3e0e0;
    margin: auto;
    padding: 2px;
    margin-top: 10%;
   
}

.form1{
    background-color: #42313126;
    border: 1px solid #bbb1b5;
    margin-top: 21px;
    margin-left: 15%;
    padding: 54px;
    font-family: cursive;
    font-size: medium;
  }

  #input{
      float: center;
      width: auto;
      /* margin: 1px 1px 1px 1px; */
      /* padding: 5px 3px; */
      padding-left: 19px;
      margin: 2px;
  }
  #btn{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  width: 210%
  /* margin-left: 205px; */
  }